body {
    font-family: 'lato', sans-serif;
    margin: 0;
    background-color: #1e3768;
}

.container {
    display: flex;
    justify-content: center;
    text-align: center;
}

#click-button {
    padding: 16px 20px;
    border: 0;
    background-color: #ff7900;
    color: #fff;
    font-size: 3em;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}